form {  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.dadosForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  width: 50%;
  max-width: 700px;
  margin-top: 1vh;
  place-content: center;

  line-height: 24px;
  
  border-radius: 8px;
  border:0;
  font-size: 20px;
  text-align: center; 
}

.dadosForm::placeholder{  
  text-align: center; 
}

.date{
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  width: 50%;
  max-width: 700px;
  margin-top: 1vh;
  justify-content: space-between;
}

.DayPickerInput {
  display: flex;
  width: 100%;
}

.DayPickerInput > input {
  width: 100%;
  border-radius: 8px;
  border:0;
  line-height: 24px;
  font-size: 20px;
  text-align: center; 
}
.DayPickerInput > input::placeholder{  
  text-align: center; 
}

button {
  width: 50%;
  border:0;
  background-color: rgb(153, 197, 233);
  color: white;
  border-radius: 8px;
  max-width: 700px;
  margin-top: 1vh;
  line-height: 24px;
  font-weight: bold;
  font-size: 20px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.recharts-wrapper {
  background-color: white;
}